[build-system]
requires = [ "poetry-core>=1.0.0",]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "pinjected"
version = "0.2.198"
description = "Immutable Dependency Injection for Python."
authors = [ "proboscis <nameissoap@gmail.com>",]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.10"
returns = "*"
expression = "*"
cloudpickle = "*"
tabulate = "*"
cytoolz = "*"
frozendict = "*"
fire = "*"
pyyaml = "*"
networkx = "*"
pyvis = "*"
makefun = "*"
loguru = "*"
rich = "*"
pydantic = "*"
pytest = "^8.3.2"
beartype = "^0.18.5"
pytest-asyncio = "^0.24.0"
pytest-xdist = "^3.6.1"

[tool.poetry.scripts]
pinjected = "pinjected.main_impl:main"

[tool.poetry.group.dev.dependencies]
pytest = "*"
tqdm = "^4.66.5"
click = "^8.1.7"
wandb = "^0.17.8"
pytest-xdist = "^3.6.1"
