[build-system]
requires = [ "poetry-core>=1.0.0",]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "pinjected"
version = "0.1.139"
description = "Immutable Dependency Injection for Python."
authors = [ "proboscis <nameissoap@gmail.com>",]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.10"
returns = "^0.21.0"
expression = "^4.2.4"
cloudpickle = "^2.2.1"
tabulate = "^0.9.0"
cytoolz = "^0.12.2"
frozendict = "^2.3.8"
fire = "^0.5.0"
pyyaml = "^6.0.1"
networkx = "^3.1"
pyvis = "^0.3.2"
makefun = "^1.15.1"
loguru = "^0.7.0"

[tool.poetry.scripts]
pinjected = "pinjected.run_config_utils:main"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.0"
