[build-system]
requires = [ "poetry-core>=1.0.0",]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "pinject-design"
version = "0.1.92"
description = "immutable wrapper for pinject"
authors = [ "proboscis <nameissoap@gmail.com>",]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.10"
makefun = "*"
loguru = "*"
pampy = "*"
pinject = "*"
returns = "*"
expression = "*"
cloudpickle = "*"
tabulate = "*"
cytoolz = "*"
frozendict = "*"
fire = "*"
pyyaml = "*"
pydantic = "*"
networkx = "*"
pyvis = "*"

[tool.poetry.dev-dependencies]

[tool.poetry.scripts]
pinject_design_config = "pinject_design.run_config_utils:main"
