[build-system]
requires = [ "poetry-core>=1.0.0",]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "pinject-design"
version = "0.1.55"
description = "immutable wrapper for pinject"
authors = [ "proboscis <nameissoap@gmail.com>",]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.6"
makefun = "*"
loguru = "*"
pampy = "*"
pinject = "*"
returns = "*"
expression = "*"
cloudpickle = "*"
tabulate = "*"
cytoolz = "*"

[tool.poetry.dev-dependencies]
[tool.poetry.scripts]
pinject_design_config = 'pinject_design.run_config_utils:main'