[build-system]
requires = [ "poetry-core>=1.0.0",]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "pinjected"
version = "0.2.160"
description = "Immutable Dependency Injection for Python."
authors = [ "proboscis <nameissoap@gmail.com>",]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.10"
returns = "*"
expression = "*"
cloudpickle = "*"
tabulate = "*"
cytoolz = "*"
frozendict = "*"
fire = "*"
pyyaml = "*"
networkx = "*"
pyvis = "*"
makefun = "*"
loguru = "*"
rich = "*"
pydantic = "*"

[tool.poetry.scripts]
pinjected = "pinjected.main_impl:main"

[tool.poetry.group.dev.dependencies]
pytest = "*"
